<%= form_with(model: chairman) do |form| %>
  <% if chairman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chairman.errors.count, "error") %> prohibited this chairman from being saved:</h2>

      <ul>
        <% chairman.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" align="center">
    <%= form.label :lga %>
    
    <%= form.select :lga, [ "Kaduna South"], { prompt:"Select a Local Government." }, { class:'btn btn-dark btn-block dropdown-toggle d-flex p-2' } %>

  </div>
  <hr>

  <div class="field" align="center">
    <%= form.label :ward %>
    <div align="center" class="field form-group">
        
        <%= form.select :ward, [ "Badiko", "Barnawa","Kakuri-gwari","Kakuri-hausa", "Makera","Sabon Gari North","Sabon Gari South","Television","Tudun Nupawa","Tudun Wada North","Tudun Wada South","Tudun Wada West","Unguwan Sunusi"], { prompt:"Select a ward." }, { class:'btn btn-dark btn-block dropdown-toggle d-flex p-2' } %>
      </div>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :pollingunit %>
    <%= form.text_field :pollingunit %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :total_votes %>
    <%= form.number_field :total_votes %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :valid_votes %>
    <%= form.number_field :valid_votes %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :invalid_votes %>
    <%= form.number_field :invalid_votes %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :apc %>
    <%= form.number_field :apc %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :apga %>
    <%= form.number_field :apga %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :apm %>
    <%= form.number_field :apm %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :nnpp %>
    <%= form.number_field :nnpp %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :pdp %>
    <%= form.number_field :pdp %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :prp %>
    <%= form.number_field :prp %>
  </div>
<hr>
  <div class="field" align="center">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
<hr>
  <div class="actions" align="center">
    <%= form.submit %>
  </div>
<% end %>
