<h1 align="center">Kaduna South Chairmanship Election</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>LGA</th>
      <th>WARD</th>
      <th>POLLING UNIT</th>
      <th>VOTES</th>
      <th>VALID</th>
      <th>INVALID</th>
      <th>APC</th>
      <th>APGA</th>
      <th>APM</th>
      <th>NNPP</th>
      <th>PDP</th>
      <th>PRP</th>
      <th>APP</th>
      <th>LP</th>
      <th>BP</th>
      <th>SDP</th>
      <th>USER ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chairmen.each do |chairman| %>
      <tr>
        <td><%= chairman.lga %></td>
        <td><%= chairman.ward %></td>
        <td><%= chairman.pollingunit %></td>
        <td><%= chairman.total_votes %></td>
        <td><%= chairman.valid_votes %></td>
        <td><%= chairman.invalid_votes %></td>
        <td><%= chairman.apc %></td>
        <td><%= chairman.apga %></td>
        <td><%= chairman.apm %></td>
        <td><%= chairman.nnpp %></td>
        <td><%= chairman.pdp %></td>
        <td><%= chairman.prp %></td>
        <td><%= chairman.app %></td>
        <td><%= chairman.lp %></td>
        <td><%= chairman.bp %></td>
        <td><%= chairman.sdp %></td>
        <td><%= chairman.user_id %></td>
        <td><%= link_to 'Show', chairman %></td>
        <td><%= link_to 'Edit', edit_chairman_path(chairman) %></td>
        <td><%= link_to 'Destroy', chairman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload New Data', new_chairman_path, class:'btn btn-lg btn-secondary' %>
